<section data-ng-controller="HomeController">
	<div class="text-center">
		<div class="row">
			<a href="/#!/questions/create" class="navbar-brand">Ask a Question</a>
			<a href="/#!/questions" class="navbar-brand">Questions</a>
			<div data-ng-repeat="question in questions" class="list-group-item">
				<h4 class="list-group-item-heading" data-ng-bind="question.question">
				</h4>
	            <small class="list-group-item-text">
					Posted on
					<span data-ng-bind="question.created | date:'medium'"></span>
					by
					<span data-ng-bind="question.user.displayName"></span>
				</small>
		    </div>
		</div>
	</div>
</section>
<footer> &copy Generalgmt</footer>