<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		
	</div>
	<div class="jumbotron text-center">
		<div class="row">
	
	<a href="/#!/questions/create" class="navbar-brand">Ask a Question</a>
		<a href="/#!/questions/:questionId/answers/create_ans" class="navbar-brand">Users</a>
	<a href="/#!/questions" class="navbar-brand">Questions</a>
	

	<!-- <a href="/#!/users" class="navbar-brand">users</a> -->
		<a href="/#!/signup" class="navbar-brand">Signup</a>
	<a href="/#!/signin" class="navbar-brand">Signin</a>
		</div>
	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>The MEAN.JS Team.
</section>