<section class="row" data-ng-controller="AuthenticationController">
		<a href="/#!/user_account" class="undecorated-link">
		<h3 class="col-md-12 text-center">Sign up with your email</h3>
		<!-- <img src="/modules/users/img/buttons/facebook.png"> -->
		</a>
	<h3 class="col-md-12 text-center">Or your social accounts</h3>
	<div class="col-md-12 text-center">
		<a href="/auth/facebook" class="social social-fb ">
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
		<a href="/auth/twitter" class="social social-tw">
			<img src="/modules/users/img/buttons/twitter.png">
		</a>
		<a href="/auth/google" class="social social-gb">
			<img src="/modules/users/img/buttons/google.png">
		</a>
		<a href="/auth/linkedin" class="social social-in">
			<img src="/modules/users/img/buttons/linkedin.png">
		</a>
	</div>
</section>